<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>		
<script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>

<script type="text/babel" src="dpad.js"></script>
<link href='dpad.css' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="/dpad/dpad.css">
<div id="dpad"></div>